.main
  margin: 50px auto
  max-width: 500px

  input
    width: 200px
    font-size: 16px
    padding: 5px 10px

  button
    width: 70px
    font-size: 16px
    padding: 5px 10px

  .selection-result
    font-size: 32px
    text-align: center

.directions
  img
    width: 70px

.show-symbol
  text-align: center
  margin-top: 35vh
